@page "/postCheep"
@model Chirp.Web.Pages.PostCheepModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div class="container mt-4">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="behind-headline">
            <h2>Post a Take!</h2>
        </div>
        
        <h3><i>What's your HOT TAKE?</i></h3>

        <form method="post">
            <div class="mb-3">
                <input type="text" 
                       name="Message" 
                       class="form-control" 
                       maxlength="160" 
                       minlength="1"/>
            </div>
            <button type="submit" class="btn btn-primary"><b>POST</b></button>
        </form>    
    }
    else
    {
        <em> YOU HAVE TO LOG IN TO USE THIS FUNCTION</em>
    }
    
</div>