@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <nav class="pager">
        @if (Model.Page > 1)
        {
            <a href="/?page=@(Model.Page - 1)">« Previous</a>
        }
        @if (Model.HasNextPage)
        {
            <a style="margin-left:1rem" href="/?page=@(Model.Page + 1)">Next »</a>
        }
    </nav>
</div>
