<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style3.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon2.ico">
</head>
<body>
<div class="page">
    <h1>
        <a asp-page="/Public" class="logo-link">
            <img src="/images/Logo3.png" alt="Icon1" />LeChirp!</a> 
    </h1>
    <div class="post-take-button">
        <a asp-page="/postCheep" class="post-take-button">
            Post A Take!
        </a>
    </div>
    
    <div class="navigation">
        @if (User.Identity?.IsAuthenticated == true)
        {
            var name = User.Identity.Name;
            <div>
                <a asp-page="/Public">public timeline</a> |
                <a asp-page="/AboutMe">About me</a> |
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" style="display:inline;">
                    <button type="submit">logout [@name]</button>
                </form> |
                <a asp-page="/FollowingTimeline" >Following Timelie</a> |
                <a asp-page="/MyPage">My Page</a> |
			
            </div>
        }
        else
        {
            <div>
                <a asp-page="/Public">public timeline</a> |
                <a asp-area="Identity" asp-page="/Account/Register">register</a> |
                <a asp-area="Identity" asp-page="/Account/Login">login</a>|
            </div>
        }
    </div>

    <div class="body">
        @RenderBody()
    </div>
    <div class="footer">
        LeChirp — An ASP.NET Application
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)|
</body>
</html>
