name: Build and deploy ASP.NET Core app to Azure Web App - bdsagroup23chirprazor

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        working-directory: src/Chirp.Razor
        run: dotnet restore

      - name: Build (Release)
        working-directory: src/Chirp.Razor/Chirp.Razor.csproj/
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        working-directory: src/Chirp.Razor/Chirp.Razor.csproj/
        run: dotnet publish -c Release -o ../../publish --no-build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: drop
          path: publish/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: Production
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: drop
          path: ./drop

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: bdsagroup23chirprazor2025
          slot-name: Production
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_5CBBDBE37AB34C74B3143FD0BB943E9B }}
          package: ./drop
